<!DOCTYPE html>
<html>
  <head>
    <title>Facebook History Parser</title>
  </head>
  <body>
  		<h1>Facebook History Parser</h1>
    	<h3>Hello, this is a tool for parsing your Facebook messaging history!</h3>
    	<p><b>WARNING</b>: Your Facebook history might be very long, therefore please be patient..</p>

    	<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
	        Upload File:
	        <input type="file" name="file">
	        <br>
	        <input type="submit" name="submit" value="Submit">
        </form>

  </body>
</html>